html {
    padding: 0;
    margin: 0;
    background-color: #4352ED;
    height: 100vh;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
  }
  
  body{
    margin: 0;
  }
  